@import '~ant-design-vue/es/style/themes/default.less';
@font-face {
  font-family: 'MQG8200';
  src: url(./assets/fonts/MQG8200.woff2);
}

html,
body,
#app, #root {
  height: 100%;
  font-family: 'MQG8200';

}
.ant-popover-inner-content {
  writing-mode: vertical-lr;
  .ant-popover-message-title{
    font-size: 20px;
  }
}

.ant-pro-sider-menu-logo svg {
  display: none;
}
.colorWeak {
  filter: invert(80%);
}

.ant-layout.layout-basic {
  height: 100vh;
  min-height: 100vh;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

// 数据列表 样式
.table-alert {
  margin-bottom: 16px;
}
// 数据列表 操作
.table-operator {
  margin-bottom: 18px;

  button {
    margin-right: 8px;
  }
}
// 数据列表 搜索条件
.table-page-search-wrapper {

  .ant-form-inline {
    .ant-form-item {
      display: flex;
      margin-bottom: 24px;
      margin-right: 0;

      .ant-form-item-control-wrapper {
        flex: 1 1;
        display: inline-block;
        vertical-align: middle;
      }

      > .ant-form-item-label {
        line-height: 32px;
        padding-right: 8px;
        width: auto;
      }
      .ant-form-item-control {
        height: 32px;
        line-height: 32px;
      }
    }
  }

  .table-page-search-submitButtons {
    display: block;
    margin-bottom: 24px;
    white-space: nowrap;
  }
}

.ant-page-header.has-breadcrumb {
  writing-mode: vertical-lr;
}
.ant-modal-content {
  writing-mode: vertical-lr;
  .ant-modal-footer div {
    display: inline-grid;
  }
  .ant-btn {
    width: 32px;
    height: auto;
    padding: 15px 0;
    span {
      writing-mode: vertical-lr;
      margin: 0 auto;
      display: block;
    }
  }
}

.ant-card-extra {
  float: unset;
  margin-left: unset;
  writing-mode: vertical-lr;
}

// .ant-form-item-children {
//   writing-mode: vertical-lr;
// }

// .ant-input {
//   height: 100%;
//   display: table-cell;
// }

// .ant-spin-container {
//   writing-mode: vertical-lr;
// }

.ant-pro-page-header-wrap-children-content {
  margin: 5px;
}

.ant-pro-global-footer {
  display: none;
}

@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;
    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;
        > span {
          display: block;
        }
      }
    }
  }
}

:root {
  --default-column-height-table-mgl: 200px;
}

.ant-pro-basicLayout-content .ant-pro-page-header-wrap {
  display: flex;
}

.ant-page-header {
  padding: 10px;
}

.ant-card-head {
  padding: 0;
  margin-bottom: 0;
}

.ant-card-extra {
  float: unset;
  margin-left: unset;
  writing-mode: vertical-lr;
}

.ant-card {
  display: flex;
}

.ant-radio-button-wrapper {
  height: unset;
}

.ant-list-split .ant-list-item {
  border-bottom: unset;
  border-right: 1px solid #e8e8e8;
}

.ant-list {
  display: flex;
}

.ant-list-pagination {
  writing-mode: vertical-lr;

}

.ant-avatar-lg {
  width: 48px;
  height: 48px;
  line-height: 48px;
}

.list-content-item {
  color: rgba(0, 0, 0, 0.45);
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  margin-left: 40px;

  span {
    line-height: 20px
  }

  p {
    margin-top: 4px;
    margin-bottom: 0;
    line-height: 22px;
  }
}

html.mgl {
  .ant-btn {
    width: 32px;
    height: auto;
    padding: 15px 0;
    margin-bottom: 20px;
    font-size: 20px;
    span {
      writing-mode: vertical-lr;
      margin: 0 auto;
      display: block;
    }
  }
  .ant-pro-basicLayout-children-content-wrap {
    height: 100%;
    .ant-pro-grid-content {
      height: 100%;
      .ant-pro-page-header-wrap {
        height: 100%;
        .ant-pro-page-header-wrap-children-content {
          height: 100%;
          margin: 0;
        }
      }
    }
  }

  .ant-table-content {
    font-size: 20px;
    display: flex;
    .ant-table-body {
      overflow-x: auto;
      width: calc(100% - 80px);
      margin-top: 20px;
      table {
        display: flex;
      }
      .ant-table-thead {
        > tr {
          display: inline-grid;

          th {
            padding: 16px 16px;
            display: flex;
            align-items: center;
            height: var(--default-column-height-table-mgl);

            &:last-child {
              border-bottom: 0px;
              height: 355px;
            }
            .ant-table-header-column {
              > div {
                display: flex;
                align-items: center;
              }
            }
          }
          .ant-table-column-title {
            writing-mode: vertical-lr;
          }
        }
      }
      .ant-table-tbody {
        background: #ffffff;
        display: flex;

        .ant-table-row {
          display: inline-grid;
          > td {
            height: var(--default-column-height-table-mgl);
            display: flex;
            align-items: center;
            border-right: 1px solid #e8e8e8;
            font-family: 'MQG8200';
            writing-mode: vertical-lr;
            &:last-child {
              border-bottom: 0px;
              height: 355px;
            }
          }
        }
      }
    }
    .ant-table-placeholder {
      width: 100%;
    }
  }
  .ant-table {
    &.ant-table-empty {
      .ant-table-body {
        width: auto;
      }
    }
  }

  .ant-table-pagination {
    position: absolute;
    top: 15%;
    right: -5%;
    transform: rotate(90deg);
  }

  .ant-form, a-form-model {
    display: flex;

    .ant-form-item, a-form-model-item {
      text-align: center;
      margin: 0 18px 0;

      .ant-form-item-label {
        writing-mode: vertical-lr;
        width: 100%;
        height: 150px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        label {
          word-break: break-all;
          white-space: break-spaces;
          line-height: 14px;
          &.ant-form-item-required::before {
            margin-right: 0;
            margin-bottom: 4px;
          }
        }
      }
      .ant-form-item-control-wrapper {
        margin-top: 15px;
        .ant-form-item-control {
          .ant-form-item-children {
            writing-mode: vertical-lr;
            .ant-checkbox-wrapper {
              > span:last-child {
                margin: 5px 0 15px 0;
              }
            }
          }
          .ant-form-explain {
            writing-mode: vertical-lr;
            width: 100%;
            display: flex;
            align-items: center
          }
        }        
        input.ant-input, input.ant-select-search__field {
          width: 39px;
          height: 300px;
          display: table-column;
        }
        textarea.ant-input {
          display: table-column;
          height: 300px;
        }
        .ant-select, .ant-select-selection--single {
          width: 39px !important;
          height: 300px;

          .ant-select-selection__rendered {
            line-height: 39px;
            margin: 0px;
          }
        }
      }
    }
  }

  .ant-select-dropdown {
    width: 250px !important;
    .ant-select-dropdown-menu {
      display: flex;
      .ant-select-dropdown-menu-item {
        writing-mode: vertical-lr;
        overflow: unset;
      }
    }
  }
}
// mgl layout
.page-inner-mgl {
  height: 100%;
  display: flex;
  .content-left {
    .search-form {
      height: 100%;
      position: relative;
      padding: 20px;

      .fields {
        writing-mode: vertical-lr;
        .ant-input {
          width: 32px;
          height: 180px;
          display: table-column;
        }
      }

      .actions {
        position: absolute;
        bottom: 0;
        > * {
          margin-bottom: 8px;
          &:last-child {
            margin-bottom: 0px;
          }
        }
      }
    }
  }
  .content-right {
    width: 100%;
  }
}

.ant-btn-link:active, .ant-btn-link:focus, .ant-btn-link:hover {
  border-color: transparent !important;
}