@import '~ant-design-vue/es/style/themes/default.less';
@font-face {
  font-family: 'MQG8200';
  src: url(./assets/fonts/MQG8200.woff2);
}

html,
body,
#app, #root {
  height: 100%;
  font-family: 'MQG8200';

}
.ant-table.ant-table-empty .ant-table-body {
  width: 13vh !important;
}
.totalnum {
  writing-mode: vertical-lr;
  font-size: 18px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  outline: none;
  -webkit-transition: all 0.3s;
  width: 34px;
  height: 110px;
  transition: all 0.3s;
  line-height: 32px;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: -18px;
}
.ant-tooltip-inner {
  writing-mode: vertical-lr;
  font-size: 2vh;
}
.ant-empty-description {
  visibility: hidden;
    position: relative;
}
.ant-empty-description::after{
  font-size: 2vh;
  visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
  content: "  ᠬᠠᠢᠵᠤ ᠤᠯᠤᠭᠰᠠᠨ ᠦᠭᠡᠢ"
}

.ant-empty-image{
  display: none;
  
}
html.mgl .ant-table-content .ant-table-placeholder{
  margin-top: 20px;
  writing-mode: vertical-lr;
}
.ant-popover-inner-content {
  writing-mode: vertical-lr;
  .ant-popover-message-title{
    font-size: 2vh;
  }
}

.ant-pro-sider-menu-logo svg {
  display: none;
}
.colorWeak {
  filter: invert(80%);
}

.ant-layout.layout-basic {
  height: 100vh;
  min-height: 100vh;
}

canvas {
  display: block;
  width: 40vh !important;
  height: 40vh !important;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

// 数据列表 样式
.table-alert {
  margin-bottom: 16px;
}
// 数据列表 操作
.table-operator {
  margin-bottom: 18px;

  button {
    margin-right: 8px;
  }
}
// 数据列表 搜索条件
.table-page-search-wrapper {

  .ant-form-inline {
    .ant-form-item {
      display: flex;
      margin-bottom: 24px;
      margin-right: 0;

      .ant-form-item-control-wrapper {
        flex: 1 1;
        display: inline-block;
        vertical-align: middle;
      }

      > .ant-form-item-label {
        line-height: 32px;
        padding-right: 8px;
        width: auto;
      }
      .ant-form-item-control {
        height: 32px;
        line-height: 32px;
      }
    }
  }

  .table-page-search-submitButtons {
    display: block;
    margin-bottom: 24px;
    white-space: nowrap;
  }
}

.ant-page-header.has-breadcrumb {
  writing-mode: vertical-lr;
}
.ant-modal-content {
  writing-mode: vertical-lr;
  .ant-modal-footer div {
    display: inline-grid;
  }
  .ant-btn {
    width: 32px;
    height: auto;
    padding: 15px 0;
    span {
      writing-mode: vertical-lr;
      margin: 0 auto;
      display: block;
    }
  }
}
.ant-card .ant-card-body tbody > tr > td > span{
    white-space: pre-wrap;
}

.ant-card-extra {
  float: unset;
  margin-left: unset;
  writing-mode: vertical-lr;
}

// .ant-form-item-children {
//   writing-mode: vertical-lr;
// }

// .ant-input {
//   height: 100%;
//   display: table-cell;
// }

// .ant-spin-container {
//   writing-mode: vertical-lr;
// }

.ant-pro-page-header-wrap-children-content {
  margin: 5px;
}

.ant-pro-global-footer {
  // display: none;
  padding: 0;
}

@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;
    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;
        > span {
          display: block;
        }
      }
    }
  }
}

:root {
  --default-column-height-table-mgl: 200px;
}

.ant-pro-basicLayout-content .ant-pro-page-header-wrap {
  display: flex;
  // display: grid;
  // grid-auto-flow: column;
  // grid-template-columns: 6vh 93%;
}

.ant-page-header {
  padding: 0px;
}

.ant-card-head {
  padding: 0;
  margin-bottom: 0;
}

.ant-card-extra {
  float: unset;
  margin-left: unset;
  writing-mode: vertical-lr;
}

.ant-card {
  display: flex;
}

.ant-radio-button-wrapper {
  height: unset;
}

.ant-list-split .ant-list-item {
  border-bottom: unset;
  border-right: 1px solid #e8e8e8;
}

.ant-list {
  display: flex;
}

.ant-list-pagination {
  writing-mode: vertical-lr;

}

.ant-avatar-lg {
  width: 48px;
  height: 48px;
  line-height: 48px;
}

.list-content-item {
  color: rgba(0, 0, 0, 0.45);
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  margin-left: 40px;

  span {
    line-height: 20px
  }

  p {
    margin-top: 4px;
    margin-bottom: 0;
    line-height: 22px;
  }
}

html.mgl {
  .ant-btn {
    width:  3vh;
    height: auto;
    padding: 2vh 0;
    // margin-bottom: 10px;
    font-size: 2vh;
    span {
      writing-mode: vertical-lr;
      margin: 0 auto;
      display: block;
    }
  }
  .ant-pro-basicLayout-children-content-wrap {
    height: 100%;
    .ant-pro-grid-content {
      height: 100%;
      width: 93%;
      .ant-pro-page-header-wrap {
        height: 100%;
        .ant-pro-page-header-wrap-children-content {
          height: 100%;
          margin: 0;
        }
      }
    }
  }

  .ant-table-content {
    font-size: 2vh;
    display: flex;
    .ant-table-body {
      overflow-x: auto;
      width: 100%;
      margin-top: 20px;
      table {
        display: flex;
      }
      .ant-table-thead {
        > tr {
          display: inline-grid;

          th {
            padding: 2vh;
            display: flex;
            align-items: center;
            height: var(--default-column-height-table-mgl);

            &:last-child {
              border-bottom: 0px;
              height: 355px;
            }
            .ant-table-header-column {
              > div {
                display: flex;
                align-items: center;
              }
            }
          }
          .ant-table-column-title {
            writing-mode: vertical-lr;
          }
        }
      }
      .ant-table-tbody {
        background: #ffffff;
        display: flex;

        .ant-table-row {
          display: inline-grid;
          > td {
            height: var(--default-column-height-table-mgl);
            display: flex;
            align-items: center;
            border-right: 1px solid #e8e8e8;
            font-family: 'MQG8200';
            writing-mode: vertical-lr;
            &:last-child {
              border-bottom: 0px;
              height: 355px;
            }
          }
        }
      }
    }
    .ant-table-placeholder {
      width: 100%;
    }
  }
  .ant-table {
    &.ant-table-empty {
      .ant-table-body {
        width: auto;
      }
    }
  }

  .ant-table-pagination {
    position: absolute;
    top: 15%;
    right: -5%;
    transform: rotate(90deg);
  }

  .ant-form {
    display: flex;

    .ant-form-item{
      text-align: center;
      margin: 0 18px 0;

      .ant-form-item-label {
        // width: 13vh;
        writing-mode: vertical-lr;
        height: 18vh;
        display: flex;  
        justify-content: flex-start;
        align-items: center;
        label {
          word-break: break-all;
          white-space: break-spaces;
          line-height: 14px;
          &.ant-form-item-required::before {
            margin-right: 0;
            margin-bottom: 4px;
          }
        }
      }
      .ant-form-item-control-wrapper {
        margin-top: 15px;
        .ant-form-item-control {
          .ant-form-item-children {
            line-height: 0;
            writing-mode: vertical-lr;
            .ant-checkbox-wrapper {
              > span:last-child {
                margin: 5px 0 15px 0;
              }
            }
            textarea {
            }
          }
          .ant-form-explain {
            writing-mode: vertical-lr;
            width: 100%;
            display: flex;
            align-items: center
          }
        }        
        input.ant-input, input.ant-select-search__field {
          width: 3vh;
          height: 30vh;
          display: table-column;
        }
        textarea.ant-input {
          display: table-column;
          height: 30vh;
        }
        .ant-select, .ant-select-selection--single {
          width: 3vh !important;
          height: 30vh;
          .ant-select-selection__rendered {
            line-height: normal;
            font-size: 2vh;
            margin: 0px;
          }
        }
      }
    }
  }

  .ant-select-dropdown {
    width: 250px !important;
    writing-mode: lr-tb;
    .ant-select-dropdown-menu {
      display: flex;
      .ant-select-dropdown-menu-item {
        writing-mode: vertical-lr;
        overflow: unset;
      }
    }
  }
}
// mgl layout
.page-inner-mgl {
  height: 100%;
  display: flex;
  .content-left {
    .search-form {
      display: flex;
      flex-grow: 1;
      justify-content: center; 
      height: 100%;
      position: relative;
      padding: 20px 1.5vh;

      .fields {
        writing-mode: vertical-lr;
        .ant-input {
          width: 3vh;
          height: 180px;
          display: table-column;
        }
      }

      .actions {
        position: absolute;
        display: grid;
        bottom: 0;
        > * {
          margin-bottom: 8px;
          &:last-child {
            margin-bottom: 0px;
          }
        }
      }
    }
  }
  .content-right {
    width: 100%;
  }
}

.ant-btn-link:active, .ant-btn-link:focus, .ant-btn-link:hover {
  border-color: transparent !important;
}
.ant-table-row-cell-ellipsis {
  display: block !important;
}
.ant-pagination-options:last-child {
  position: relative;
}
.ant-pagination-options:last-child > div:last-child > div > div{
  left: 34px !important;
  top: 1px !important;
}
.ant-select-selection__rendered {
  // display: none;

  position: static;
}

@-moz-document url-prefix() {
  
  .ant-form-item-label {
    width: 13vh;
  }
  .content-left {
      width: 5vh;
  }
  html.mgl .ant-table-content .ant-table-body .ant-table-thead > tr th .ant-table-header-column > div {
    width: 3vh;
  }
  .ant-descriptions {
    width: 100%;
  }
  .ant-descriptions-view {
    overflow:unset;
    overflow-x: auto;
    overflow-y: hidden;
  }
  html.mgl .ant-btn {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
  }
}

@media screen and(-ms-high-contrast:active),(-ms-high-contrast:none){
  .ant-form-item-children .ant-checkbox-group label {
    margin: 0px;
  }
  
  html.mgl .ant-form .ant-form-item .ant-form-item-control-wrapper .ant-select .ant-select-selection__rendered, html.mgl .ant-form .ant-form-item .ant-form-item-control-wrapper .ant-select-selection--single .ant-select-selection__rendered {
    display: inline-flex !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  html.mgl .ant-form .ant-form-item .ant-form-item-label {
    display: inline-flex;
  }
  html.mgl .ant-form .ant-form-item .ant-form-item-control-wrapper .ant-form-item-control .ant-form-item-children button {
    height: 14vh;
  }
  //[data-v-50001f1e].ant-card .ant-card-body .content-hor .actions .actions-inner
  .ant-card {
    overflow-x: auto;
    .ant-card-body{
      tbody {
        .images-wrapper > span{
          width: 100%;
          height: 100%;
          position: relative;
        }        
      }
      .content-hor{
        .actions{
          .actions-inner{
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }
  html.mgl .ant-form .ant-form-item .ant-form-item-control-wrapper .ant-form-item-control .ant-form-item-children div {
    display: block;  
  }
  html.mgl .ant-form .ant-form-item .ant-form-item-control-wrapper .ant-form-item-control .ant-form-item-children div label {
    //  margin-bottom: 0px !important;
   }
  html.mgl .ant-form .ant-form-item .ant-form-item-control-wrapper textarea.ant-input {
    writing-mode: tb-lr;
  }
  html.mgl .ant-form .ant-form-item .ant-form-item-control-wrapper .ant-form-item-control .ant-form-item-children input {
    writing-mode: tb-lr;
  }
  .ant-upload.ant-upload-select span button {
    height: 14vh;
    right: 0px;
  }
  .ant-upload.ant-upload-select span button span {
    padding-top: 13px;
  }
  .ant-card .ant-card-body tbody > tr:first-child > td > span:last-child {
    // width: 170px;
  }
  .images-wrapper {
    // width: 140px;
  }
  .ant-pro-page-header-wrap-children-content .actions .actions-inner button {
    height: 12vh;
  }
  .ant-modal-content .ant-modal-footer div {
    display: flex;
    flex-direction: column;
    margin-top: 50%;
  }
  .add-form .fields {
    margin: 20px;
    
  }
  .add-form .fields .ant-input {
    writing-mode: tb-lr;
  }
  .ant-modal-content {
    height: 25%;
  }
  html.mgl .ant-table-content .ant-table-body .ant-table-tbody .ant-table-row > td:last-child button {
    height: 12vh;
  }
  .page-inner-mgl .content-left .search-form .fields .ant-input {
    writing-mode: tb-lr;
  }
  html.mgl .ant-btn {
    height: 8vh;
  }
  .page-inner-mgl .content-left .search-form .actions {
    position: absolute;
    left: 14px;
    display: flex;
    flex-direction: column;
  }
  html.mgl .ant-table-content .ant-table-body .ant-table-tbody {
    display: flex;
    flex-direction: column;
    writing-mode: tb-lr;
  }
  html.mgl .ant-table-content .ant-table-body .ant-table-tbody .ant-table-row {
    display: flex;
    flex-direction: row;
  }
}