@import "~ant-design-vue/es/style/themes/default.less";

.ant-pro-sider-menu-sider {
  min-height: 97vh;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected {
  
  border-left: solid 2px #ffff8c;

}
.ant-pro-global-header-trigger {
  display: none !important;
}

.ant-layout-sider {
  margin: 10px;
  max-width: 55px !important;
  min-width: 55px !important;;
}

.ant-menu-dark, .ant-menu-dark .ant-menu-sub, .ant-pro-sider-menu-logo, .ant-layout-sider-children {
  background: #5967a4;
}

.ant-layout-sider .ant-menu .ant-menu-item { 
  padding: 0 16px !important;
  height: 150px;
  font-size: 20px;
  background: #5967a4;
}

.ant-layout-sider .ant-menu .ant-menu-item a {
  display: grid;
  grid-auto-flow: row;
  height: 70px;
  justify-content: center;
  margin-top: 15px;
}

.ant-layout-sider .ant-menu .ant-menu-item i {
  margin: 20px 0 ;
  font-size: 20px;
  align-content: center;
}

.ant-layout-sider .ant-menu .ant-menu-item span {

  writing-mode: vertical-rl;
}

.ant-pro-global-header-index-right {
  margin-right: 8px;

  &.ant-pro-global-header-index-dark {
    .ant-pro-global-header-index-action {
      color: hsla(0, 0%, 100%, .85);

      &:hover {
        background: #1890ff;
      }
    }
  }

  .ant-pro-account-avatar {
    .antd-pro-global-header-index-avatar {
      margin:~'calc((@{layout-header-height} - 24px) / 2)'0;
      margin-right: 8px;
      color: @primary-color;
      vertical-align: top;
      background: rgba(255, 255, 255, 0.85);
    }
  }

  .menu {
    .anticon {
      margin-right: 8px;
    }

    .ant-dropdown-menu-item {
      min-width: 100px;
    }
  }
}