@import "~ant-design-vue/es/style/themes/default.less";


.ant-menu-vertical .ant-menu-submenu, .ant-menu-vertical-left .ant-menu-submenu, .ant-menu-vertical-right .ant-menu-submenu, .ant-menu-inline .ant-menu-submenu{
  writing-mode: vertical-lr;
  width: 100%;
  height: 16vh;
  .ant-menu-submenu-title {
    line-height: unset !important;
    overflow: unset;
    margin: 0px !important;
    margin-bottom: 60px !important;
    padding:0px !important;
    height: 11vh;
    font-size: 2vh;
    background: #5967a4;  
    align-items: center;
    display: grid;
    grid-auto-flow: column;
    span {
      display: grid;
      grid-auto-flow: column;
      align-items: center; 
      justify-items: center;
      i {
        font-size: 2vh;
        margin-right: 0px;
        display: grid;
        align-items: center;
      }
    }
    .ant-menu-submenu-arrow {
      text-align: center;
      position: unset;
      transform: rotate(90deg);
    }
  }
  .ant-menu-sub {
    width: unset;
    background: #5967a4;
    box-shadow: unset;
    
    height: 15vh;
    .ant-menu-item-selected{
      border-left: unset;
      border-top: solid 2px #ffff8c;
    }
    .ant-menu-item {
      overflow: unset;
      margin: 0px;
      display: grid;
      align-items: center;
      justify-content: flex-start;
      padding: 0px !important;
      a {
        margin-top:1vh !important;
        height: 100%;
        margin:0px;
        overflow: unset;
        
      }
    }
  }
}

.ant-notification {
  display: none;
  top: 0px !important;
  width: auto !important;
  writing-mode: vertical-lr;
  margin-right: 0px !important;
  .ant-notification-notice-closable .ant-notification-notice-message {
    padding-right: 0px;
  }
  .ant-notification-notice-with-icon .ant-notification-notice-description {
    margin-left: 0px;
    
  }
  .ant-notification-notice-description{
    margin: 0px;
    font-size: 2vh !important;
  }

  .ant-notification-notice-close {
    right: 5px;
  }
  .ant-notification-notice-message {
    font-size: 2vh !important;
  }
}
.ant-page-header-heading {
  width: 5vh;
}
.ant-page-header-heading-title {
  font-size: 2vh;
}
.ant-pro-page-header-wrap-page-header-warp {
  width: 7vh;
}
.ant-modal-confirm .ant-modal-confirm-btns button {
  margin: 10px !important;
  padding: 10px 0px !important;

}
.ant-breadcrumb {
  font-size: 1.5vh;
}
.ant-modal-confirm-body > .anticon + .ant-modal-confirm-title + .ant-modal-confirm-content {
  margin-right: 38px;
  font-size: 2vh;
}

.ant-modal-confirm-body > .anticon {
  margin-left: 4px !important;
}

.ant-modal-confirm-title {
  margin-top: 4vh !important;
  font-size: 2vh !important;
}
.ant-pro-global-header-content {
  height: 7vh;
    line-height: 7vh;
}
.ant-pro-global-header-index-light {
  display: grid;
    align-items: center;
}
.logout {
  width: 4vh !important;
  height: 4vh !important;
  padding: 0px !important;
  margin: 0px !important;
}

.ant-layout-footer {
  position:absolute;
  right: 5px;
  // padding-right: 5px;
  writing-mode: vertical-lr;
  height: 100%;
  width: 1vh;
  padding: 24px 37px;
}

.ant-pro-page-header-wrap {
  height: 93vh !important;
}

.ant-pro-basicLayout-content {
  margin: 24px 24px 0px 24px;
  width: 90%;
}

.ant-pro-sider-menu-sider {
  min-height: 97vh;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected {
  
  border-left: solid 2px #ffff8c;

}
.ant-layout-header {
  height: 7vh;
}
.ant-pro-global-header {
  height: 7vh;
}
.ant-pro-global-header-trigger {
  display: none !important;
}

.ant-layout-sider {
  margin: 0.7vh;
  max-width: 6vh !important;
  min-width: 6vh !important;;
}

.ant-menu-dark, .ant-menu-dark .ant-menu-sub, .ant-pro-sider-menu-logo, .ant-layout-sider-children {
  background: #5967a4;
}

.ant-layout-sider .ant-menu .ant-menu-item { 
  padding: 0 16px !important;
  height: 12vh;
  font-size: 2vh;
  background: #5967a4;
}

.ant-layout-sider .ant-menu .ant-menu-item a {
  display: grid;
  grid-auto-flow: row;
  height: 8vh;
  justify-content: center;
  // margin-top: 15px;
}

.ant-layout-sider .ant-menu .ant-menu-item i {
  margin: 20px 0 ;
  font-size: 2vh;
  align-content: center;
}

.ant-layout-sider .ant-menu .ant-menu-item span {

  writing-mode: vertical-rl;
}

.ant-pro-global-header-index-right {
  margin-right: 8px;
  // display: none;

  &.ant-pro-global-header-index-dark {
    .ant-pro-global-header-index-action {
      color: hsla(0, 0%, 100%, .85);

      &:hover {
        background: #1890ff;
      }
    }
  }

  .ant-pro-account-avatar {
    .antd-pro-global-header-index-avatar {
      margin:~'calc((@{layout-header-height} - 24px) / 2)'0;
      margin-right: 8px;
      color: @primary-color;
      vertical-align: top;
      background: rgba(255, 255, 255, 0.85);
    }
  }

  .menu {
    .anticon {
      margin-right: 8px;
    }

    .ant-dropdown-menu-item {
      min-width: 100px;
    }
  }
}

@media (min-width: 1280px) and (max-width:1768px){
  .ant-layout-sider .ant-menu .ant-menu-item { 
    height: 15vh;
  }
  .ant-modal-confirm-body > .anticon {
    
    font-size: 9px;
}
}
@media screen and(-ms-high-contrast:active),(-ms-high-contrast:none){
  .ant-menu-vertical .ant-menu-submenu .ant-menu-sub, .ant-menu-vertical-left .ant-menu-submenu .ant-menu-sub, .ant-menu-vertical-right .ant-menu-submenu .ant-menu-sub, .ant-menu-inline .ant-menu-submenu .ant-menu-sub {
    display: flex;
    flex-direction: column;
    width: 15vh;
  }
 
  body {
    overflow: hidden;
  }
  .ant-layout.ant-layout-has-sider > .ant-layout, .ant-layout.ant-layout-has-sider > .ant-layout-content {
    overflow-y: hidden;
  }
  .ant-layout-sider .ant-menu .ant-menu-item a {
    position: relative;
  }
  .ant-layout-sider .ant-menu .ant-menu-item span {
    position: absolute;
    top: 60px;
    left: -13px;
  }
  .ant-menu-inline .ant-menu-submenu .ant-menu-submenu-title {
    padding-left: 7px !important;
  }
  .ant-menu-inline .ant-menu-submenu .ant-menu-submenu-title > span {
    position: relative;
  }
  .ant-menu-inline .ant-menu-submenu .ant-menu-submenu-title > span > span {
    position: absolute;
    top: 40px;
    left: -13px;
  }
  .ant-menu-inline .ant-menu-submenu .ant-menu-submenu-title .ant-menu-submenu-arrow {
    position:absolute;
    top: 90px;
    left: 20px;
    transform: rotate(0deg);
  }
}